.login-container {
    width: 40%;
    margin: auto;
}
.submit-btn {
    width: 70px;
    margin: 0 auto;
}
.book-detail {
    font-weight: bold;
}
.footer-template {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-right: 50px;
}
.form-center {
    margin: 0 auto !important;
    width: 80%; !important;
}
.has-error{
    font-weight: bolder;
    color:red;
}
